%h2.pb-2
  Version Checks
  .float-right
    = form_for version_checks_path, method: :get, html: { class: 'form-inline' } do
      .input-group
        = search_field_tag :search, params[:search], class: 'form-control'
        .input-group-append
          = button_tag 'Search', class: 'btn btn-secondary'

%table.table.table-striped
  %thead
    %tr
      %th ID
      %th Application URL
      %th GitLab Version
      %th Created

  %tbody
    - @version_checks.each do |version_check|
      %tr
        %td
          = link_to version_check_path(version_check) do
            \##{version_check.id}
        %td= host_url_for_display(version_check.host)
        %td= version_check.gitlab_version
        %td= version_check.created_at.to_s

%hr
= render 'shared/pagination_without_count', collection: @version_checks
