%h3 Version check ##{@version_check.id}

.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th Header
        %th Value
    %tbody
      %tr
        %td GitLab URL
        %td
          - if @version_check.host
            = link_to host_path(@version_check.host) do
              %strong= host_url_for_display(@version_check.host)
          - else
            %strong= host_url_for_display(@version_check.host)
      %tr
        %td GitLab version
        %td
          %strong= @version_check.gitlab_version
      %tr
        %td Request sent
        %td= @version_check.created_at.to_s
      - headers(@version_check.request_data).each do |header, value|
        %tr
          %td= header
          %td= value

= link_to 'Back', version_checks_path, class: 'btn btn-secondary'
