%h2 Service ping totals by month

%p
  Select months and editions, then submit to send usage data to Salesforce. (Any
  data that was already sent will not be duplicated.) Because of the
  = link_to('Salesforce API limits', 'https://developer.salesforce.com/docs/atlas.en-us.salesforce_app_limits_cheatsheet.meta/salesforce_app_limits_cheatsheet/salesforce_app_limits_platform_api.htm')
  scheduling more than 100,000 on a single day is not recommended.

%p
  To view job status, see the
  = succeed '.' do
    = link_to('Sidekiq dashboard', '/sidekiq')

= form_tag(schedule_backfill_usage_data_path, method: :post) do
  %table.table.table-striped.pretty
    %thead
      %tr
        %th Month
        - UsageData::EDITIONS.each do |edition|
          %th= edition
    %tbody
      - @month_counts.each do |month, counts|
        %tr
          %td= month
          - UsageData::EDITIONS.each do |edition|
            - count = counts[edition] || 0
            - check_box_value = "#{month}-#{edition}"
            %td
              = label_tag(check_box_value, count)
              = check_box_tag('month_editions[]', check_box_value, false, disabled: count.zero?, id: check_box_value, class: 'js-month-checkbox', data: { count: count })

  %p= submit_tag('Schedule backfill', class: 'js-month-submit')

= javascript_include_tag 'months'
