.last-ping-date {
  margin-top: 20px;
}

.title {
  font-weight: bold;
}

.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: url(/up_arrow.gif);
}

.pretty th .desc {
  background-image: url(/down_arrow.gif);
}

.users-chart-wrapper {
  margin-top: 30px;
}

.license-over {
  color: Crimson;
}

.license-under {
  color: Green;
}


